.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0 0 80px 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 180px;
  box-sizing: border-box;
}

.face-tracker-container {
  /* border: 2px solid black; */
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  /* background: #ffb0dc; */
  mix-blend-mode: multiply;
}
