.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0 0 80px 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 180px;
  box-sizing: border-box;
}

.face-tracker-container {
  /* border: 2px solid black; */
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .app {
    gap: 80px;
  }
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    padding: 20px 20px 80px 20px;
    gap: 40px;
    justify-content: flex-start;
  }

  .face-tracker-container {
    order: -1;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  /* background: #ffb0dc; */
  mix-blend-mode: multiply;
}
