@font-face {
  font-family: 'e-Ukraine';
  src: url('/fonts/e-Ukraine.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UAFSans';
  src: url('/fonts/UAFSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'e-Ukraine', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: 'UAFSans', sans-serif; */

#root {
  width: 100%;
  height: 100%;
}
